<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <h2>student: {{ student.name }}</h2>
    <p>Email: {{ student.email }}</p>
    
    <h3>Courses:</h3>
    <ul>
        {% for course in student.courses.all %}
            <li>{{ course.name }}</li>
        {% endfor %}
    </ul>

    <!-- Form to register for additional courses -->
    <form method="post">
        {% csrf_token %}
        <label for="course">add course:</label>
        <select name="course" id="course">
            {% for c in available_courses %}
                <option value="{{ c.course.id }}">{{ c }}</option>
            {% endfor %}
        </select>
        <button type="submit">Register</button>
    </form>

    <!-- Link to add a new course -->
    <p><a href="{% url 'courses' %}">Add a New Course</a></p>
</body>
</html>